<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="TRobotWCFServiceLibrary.Service1">
                <clear />
                <endpoint address="basic" binding="basicHttpBinding" contract="TRobotWCFServiceLibrary.IService1"
                    listenUriMode="Explicit" />
                <endpoint address="ws" binding="ws2007HttpBinding" contract="TRobotWCFServiceLibrary.IService1"
                    listenUriMode="Explicit" />
                <endpoint address="net.tcp://192.168.0.102:8080/WCFServiceTRobot"
                    binding="netTcpBinding" contract="TRobotWCFServiceLibrary.IService1"
                    listenUriMode="Explicit" />
                <endpoint address="net.pipe://192.168.0.102/WCFServiceTRobot" binding="netNamedPipeBinding"
                    contract="TRobotWCFServiceLibrary.IService1" listenUriMode="Explicit" />
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress=" http://192.168.0.102:8732/TRobotWCFService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>